<div id="headtitle">
        <h1>Keep your cat entertained and focused with Entertaincat</h1>
    </div> 	
    <div id="wrapper">
    <div id="featured-wrapper" >
      <div id="featured" class="container">
          <div class="row">
              <div class="col-sm-3">
                  <a href="/videos">
                      <div class="column1"><img src="assets/img/icons8-documentary-50.png" >
                        <div class="title">
                            <h2>VIDEOS FOR CATS</h2>
                        </div>
                        <p>Entertain your cat with beautiful, high quality videos of birds and squirrels.</p>
                      </div>
                </a>
              </div>
              <div class="col-sm-3">
                  <a href="/music">
                      <div class="column2"><img src="assets/img/icons8-musical-notes-50.png" >
                          <div class="title">
                              <h2>MUSIC FOR CATS</h2>
                            </div>
                            <p>Relaxing music that will keep your cat calm. Soundtracks include classical music and music made specially for cats.</p>
                      </div>
                  </a>
              </div>  
              <div class="col-sm-3"><a href="/species">
                  <div class="column3"><img src="assets/img/icons8-more-info-50.png" >
                    <div class="title">
                        <h2>CAT SPECIES</h2>
                    </div>
                    <p>Place for curious owners to get knowledge about cats and their heritage.</p>
                  </div>
                </a></div>  
              <div class="col-sm-3">
                  <a href="/vet">
                      <div class="column4"><img src="assets/img/icons8-stethoscope-50.png" >
                        <div class="title">
                            <h2>CLOSEST VET OFFICE </h2>
                        </div>
                        <p>Map of the closest veterinary offices.</p>
                      </div>
                    </a>
              </div>     
      </div>
    </div>       
  </div>
  <div id="buttons">
      <a href="#aboutUs"><img src="../../../assets/img/aboutB.png"></a>
      <a href="#contactUs"><img src="../../../assets/img/contactB.png"></a>
      
  </div>
  <div id="aboutUs">
        <h1>About Us</h1>
        <p>We are a team of one cat and one human. <br>
          We came up with this project while looking for bird videos on YouTube. <br>
          This website is a Web Programming project for Burch 2018.<br>
          <img src="assets/img/gigiMe.bmp" style="width:600px; padding: 50px;" > 
         </p>
                           
    </div>
    <div id="contactUs">
          <h1>Contact Us</h1>
          <p>Any feedback is appreciated. Feel free to contact us!</p><br>
        
      </div>