<div id="register" ng-submit="main.logUser(logData)">
    <div class="user">    
 <form class="form">
     <div class="form__group">
         <input type="text" placeholder="Username" class="form__input" ng-model="main.logData.username"/>
     </div>
     
     <div class="form__group">
         <input type="password" placeholder="Password" class="form__input" ng-model="main.logData.password" />
     </div>
     
     <button class="btn" type="submit">Login</button>
 </form>
 </div>
 <div class="success" ng-show="main.successMsg">
     <div class="alert alert-success">{{main.successMsg}}</div>
 </div>
 <div class="success" ng-show="main.errorMsg">
         <div class="alert alert-danger">{{main.errorMsg}}</div>
 </div>
</div>
